@model RecreioFerias.Models.Aluno

@{
    ViewData["Title"] = "Cadastro de Alunos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/js/cep.js"></script>
    <script src="~/js/mascaras.js"></script>
}
<div class="container">


        <div class="card" >
            <div class="card-heading d-flex justify-content-between bg-success text-white">
            <div class="info-esquerda"> <h5 class="titulo-cadastrar-novo fonte-login"><i class="bi bi-file-earmark-plus"></i>Cadastrar novo Participante</h5></div>
                <div class="info-direita titulo-cadastrar-novo fonte-login"><b>*</b> Campos Obrigatórios</div>
            </div>

             <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger "></div>
                <div class="card-body fs-personalizado fonte-login">



                <div class="row mb-3">

                   
                    <label class="col-sm" for="Nome"><b>Nome: </b></label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control",
                         @placeholder = "Digite seu nome",
                         @id = "Nome"
                          } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            </div>
                            
                       
                    <label for="NomeSocial" class="col-1 input-group-text">Social </label>
                   <div class="col-md-5">
                   @Html.EditorFor(model => model.NomeSocial, new { htmlAttributes = new { @class = "form-control", 
                   @id = "NomeSocial" } })
                   @Html.ValidationMessageFor(model => model.NomeSocial, "", new { @class = "text-danger" })
</div>
                       
               
                </div>

                <div class="row mb-3">
                    
                    <label class="col-sm" for="cpf"><b>CPF</b> </label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control", @id = "cpf", @data_mask = "###.###.###-##" } })
                            @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                        </div>

                        <label for="RG" class="col-sm"><b>RG</b></label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.RG, new { htmlAttributes = new { @class = "form-control",
                            @id="RG"
                            
                            } })
                            @Html.ValidationMessageFor(model => model.RG, "", new { @class = "text-danger" })

                        </div>

                    <label for="DataExpedicao" class="col-2"><b>Data Expedição</b></label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.DataExpedicaoRG, new { htmlAttributes = new { @class = "form-control",
                            @id="DataExpedicao"
                            
                            
                            } })
                            @Html.ValidationMessageFor(model => model.DataExpedicaoRG, "", new { @class = "text-danger" })

                        </div>

                    </div>
                <div class="row mb-3">
                    <label for="DataNascimento" class="col-2"><b>Data de Nascimento</b></label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control",
                            @id="DataNascimento" } })
                            @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })

                        </div>
                    
                    <label for="Certidao" class="col-1 input-group-text">Certidão </label>
                    <div class="col-md-3">
                                @Html.EditorFor(model => model.CertidaoNascimento, new { htmlAttributes = new { @class = "form-control",
                                @id="Certidao" } })
                                @Html.ValidationMessageFor(model => model.CertidaoNascimento, "", new { @class = "text-danger" })
                            </div>
                            
                       
                        <label for="Sexo" class="col-sm-1"><b>Sexo</b> </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Sexo, new SelectList(ViewBag.List), "Selecione o Sexo", htmlAttributes: new { @class = "form-control",
                            @id="Sexo" })
                            @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    
                <div class="row mb-3">
                    <label for="CEP" class="col-sm-1"><b>CEP</b></label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apenas números", @type = "search",
                            @id="CEP" } })
                            @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <button ariaaria-label="Botão Pesquisar" type="button" class="btn btn-primary" onclick="pesquisacep(CEP.value)">Pesquisar</button>
                        </div>
                    </div>


                <div class="row mb-3">
                    <label for="Logradouro" class="col-sm-2" style="margin-left: 0px;"><b>Logradouro: </b></label>
                        
                    <div class="col-md-3" style="margin-right: 0px;">
                                @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control",
                                @id ="Logradouro"} })
                                @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
                            </div>

                    
                                <label for="Numero" class="col-sm-1 input-group-text"><b>N°</b></label>
                        <div class="col-sm-1">
                                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control", @id="Numero" } })
                                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                           </div>
                     

                    
                                <label for="Complemento" class="col-md-2 input-group-text"><b>Complemento</b> </label>
                        <div class="col-md-3">
                                @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control", @id = "Complemento" } })
                                @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
                            </div>
                        
                    </div>

                <div class="row mb-3">

                    <label for="Bairro" class="col-md-1"><b>Bairro: </b></label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control", @id="Bairro" } })
                            @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                        </div>
                    
                     <label for="Cidade" class="col-md-1 input-group-text"><b>Cidade: </b></label>
                    <div class="col-md-3">
                                @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", @id="Cidade" } })
                                @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                            </div>
                           
                   
                     <label for="Estado" class="col-sm-1 input-group-text"><b>Estado: </b></label>
                    <div class="col-sm-2">
                                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control", @id="Estado" } })
                                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        


                <div class="row mb-3">

                    <label for="Escola" class="col-md-1"><b>Escola: </b></label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Escola, new { htmlAttributes = new { @class = "form-control", @id="Escola" } })
                            @Html.ValidationMessageFor(model => model.Escola, "", new { @class = "text-danger" })
                        </div>
                    
                        <label for="Turma" class="col-md-1 input-group-text"><b>Turma</b> </label>
                    <div class="col-md-2">
                                @Html.EditorFor(model => model.AgrupamentoTurmaAno, new { htmlAttributes = new { @class = "form-control", @id="Turma" } })
                                @Html.ValidationMessageFor(model => model.AgrupamentoTurmaAno, "", new { @class = "text-danger" })
                            </div>
                            

                    
                    <label for="EOL-escola" class="col-md-1 input-group-text">
                        <b>EOL</b>
                        <i class="bi bi-mortarboard"></i>
                        </label>

                               
                    <div class="col-md-2">
                                @Html.EditorFor(model => model.EOL, new { htmlAttributes = new { @class = "form-control",@id="EOL-escola" } })
                                @Html.ValidationMessageFor(model => model.EOL, "", new { @class = "text-danger" })

                            </div>
                        
                        </div>


                <div class="row mb-3">

                    <div class="col-md-3">
                        
                            <div class="card text-center">
                                <div class="card-body d-flex flex-column align-items-center bg-light">
                                    <label for="RedeMunicipal" class="card-title">
                                    <b>Aluno da Rede Municipal</b>
                                    </label>
                                     
                                        @Html.EditorFor(model => model.RedeMunicipal)
                                        @Html.ValidationMessageFor(model => model.RedeMunicipal, "",
                                      new { @class = "text-danger",
                                    })
                                      
                                    </div>

                            </div>
                       
                        </div>
                        
                        <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-body d-flex flex-column align-items-center bg-light">
                                <label for="Piscina" class="card-title">
                               <b> Autorizo o uso da piscina </b>
                           
                                </label>

                                        @Html.EditorFor(model => model.Piscina)
                                        @Html.ValidationMessageFor(model => model.Piscina, "", new { @class = "text-danger" })
                                    </div>
                            
                            </div>
                        </div>
                        <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-body d-flex flex-column align-items-center bg-light">
                                <label for="VoltaSozinho" class="card-title">
                                   <b> Volta para Casa Sozinho </b>
                                    </label>
                                        @Html.EditorFor(model => model.VoltaSozinho)
                                        @Html.ValidationMessageFor(model => model.VoltaSozinho, "", new { @class = "text-danger" })
                                    </div>
                                
                            </div>
                        </div>
                    </div>





                <div class="row mb-3">

                        <label for="OpcaoProblemaSaude_True" class="col-md-2"><b>Algum Problema de Saúde</b> <h11>*</h11></label>

                    
                                <span class="col-sm-2 input-group-text">
                                    <label style="margin-right: 20px; margin-left: 10px;">
                                       
                                        @Html.RadioButtonFor(model => model.OpcaoProblemaSaude, "True")
                                        SIM
                                    </label>
                                    <label>
                                       
                                        @Html.RadioButtonFor(model => model.OpcaoProblemaSaude, "False")
                                        NÃO
                                    </label>
                                </span>
                                <div class="col-md-2">
                                @Html.EditorFor(model => model.ProblemaSaude, new { htmlAttributes = new { @class = "form-control", placeholder = "Qual?",
                                @aria_label = "Qual Problema?"
                                 } })
                                @Html.ValidationMessageFor(model => model.OpcaoProblemaSaude, "", new { @class = "text-danger" })

                            </div>
                            

                        

                        <label for="AlgumDeficiencia_True" class="col-md-2"><b>Alguma Deficiência</b><h11>*</h11></label>
                    
                                <span class="col-sm-2 input-group-text">
                                    <label style="margin-right: 20px; margin-left: 10px;">
                                        @Html.RadioButtonFor(model => model.OpcaoDeficiencia, "True")
                                        SIM
                                    </label>
                                    <label>
                                        @Html.RadioButtonFor(model => model.OpcaoDeficiencia, "False")
                                        NÃO
                                    </label>
                                </span>
                    <div class="col-md-2">
                                @Html.EditorFor(model => model.Deficiencia, new { htmlAttributes = new { @class = "form-control", placeholder = "Qual?" ,@aria_label = "Qual Deficiência? ?"} })
                                @Html.ValidationMessageFor(model => model.OpcaoDeficiencia, "", new { @class = "text-danger" })

                        </div>
                            

                        </div>



                <div class="row mb-3">
                        <label for="OpcaoMedicamento_True" class="col-md-2"><b>Uso de Medicação Continua</b> <h11>*</h11></label>

                   
                                <span class="col-sm-2 input-group-text">
                                     <label style="margin-right: 20px; margin-left: 10px;">
                                        @Html.RadioButtonFor(model => model.OpcaoMedicamento, "True")
                                        SIM
                                    </label>
                                    <label>
                                        @Html.RadioButtonFor(model => model.OpcaoMedicamento, "False")
                                        NÃO
                                    </label>
                                </span>
                    <div class="col-md-2">
                                @Html.EditorFor(model => model.Medicamento, new { htmlAttributes = new { @class = "form-control", placeholder = "Qual?" ,
                                @aria_label = "Qual medicamento?"
                                } }
                                
                                )
                                @Html.ValidationMessageFor(model => model.OpcaoMedicamento, "", new { @class = "text-danger" })
                                </div>
                           

                        


                        <label for="RestricaoAlimentar_True" class="col-md-2"><b>Restrição Alimentar</b></label>

                   
                                <span class="col-sm-2 input-group-text">
                                     <label style="margin-right: 20px; margin-left: 10px;">
                                        @Html.RadioButtonFor(model => model.OpcaoRestricaoAlimentar, "True")
                                        SIM
                                    </label>
                                    <label>
                                        @Html.RadioButtonFor(model => model.OpcaoRestricaoAlimentar, "False")
                                        NÃO
                                    </label>
                                </span>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.RestricaoAlimentar, new { htmlAttributes = new { @class = "form-control", placeholder = "Qual?",@aria_label = "Qual Restrição?" } })
                                @Html.ValidationMessageFor(model => model.OpcaoRestricaoAlimentar, "", new { @class = "text-danger" })

                            </div>
                        </div>
                       




                <div class="row mb-3">
                        <label class="col-md-2"><b>Restrição</b><h11>*</h11></label>




                    <span for="MedicamentoProcedimento_True" class="col-md-5 input-group-text  d-flex align-items-center">
                                    <b>Medicamento e/ ou Procedimento :</b>
                                    <label style="margin-right: 20px; margin-left: 20px;">
                                        @Html.RadioButtonFor(model => model.OpcaoRestricaoMedicamento, "True")
                                        SIM
                                    </label>
                                    <label style="margin-left: 10px;">
                                        @Html.RadioButtonFor(model => model.OpcaoRestricaoMedicamento, "False")
                                        NÃO
                                    </label>
                                </span>
                                <div class="col-md-4">
                                @Html.EditorFor(model => model.RestricaoMedicamento, new { htmlAttributes = new { @class = "form-control", placeholder = "Qual?",@aria_label = "Qual Medicamento / Procedimento?" } })
                                @Html.ValidationMessageFor(model => model.OpcaoRestricaoMedicamento, "", new { @class = "text-danger" })

                            </div>
                            
                        </div>

                <div class="row mb-3">
                        <label for="ConvenioMedico_True" class="col-md-2"><b>Convênio Médico</b><h11>*</h11></label>
                    
                                <span class="col-md-2 input-group-text">
                                    <label style="margin-right: 20px; margin-left: 10px;">
                                        @Html.RadioButtonFor(model => model.OpcaoConvenioMedico, "True")
                                        SIM
                                    </label>
                                    <label>
                                        @Html.RadioButtonFor(model => model.OpcaoConvenioMedico, "False")
                                        NÃO
                                    </label>
                                </span>
                                <div class="col-md-6">
                                @Html.EditorFor(model => model.ConvenioMedico, new { htmlAttributes = new { @class = "form-control", placeholder = "Qual?",@aria_label = "Qual Convênio Médico??" } })
                                @Html.ValidationMessageFor(model => model.OpcaoConvenioMedico, "", new { @class = "text-danger" })
                                </div>
                            

                        </div>



                <div class="row mb-3">
                            <div class="col-md-2">
                                <h3>Responsável</h3>
                            </div>
                        </div>




                    <div class="row mb-3">
                        <label for="NomeResponsavel" class="col-2"><b>Nome Responsável: </b></label>
                        <div class="col-md-5">
                                @Html.EditorFor(model => model.NomeResponsavel1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite seu nome",
                                @id="NomeResponsavel" } })
                                @Html.ValidationMessageFor(model => model.NomeResponsavel1, "", new { @class = "text-danger" })
                        </div>

                        
                        <label for="SocialNome" class="col-1 input-group-text"><b>Social</b></label>
                        <div class="col-md-4">
                                @Html.EditorFor(model => model.NomeResponsavelSocial1, new { htmlAttributes = new { @class = "form-control", @id="SocialNome" } })
                                @Html.ValidationMessageFor(model => model.NomeResponsavelSocial1, "", new { @class = "text-danger" })
                        </div>
                        
                    </div>


                    <div class="row mb-3">
                            <label for="RG-CPF" class="col-md-2"><b>RG / CPF </b></label>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.DocResponsavel1, new { htmlAttributes = new { @class = "form-control", @id="RG-CPF" } })
                                @Html.ValidationMessageFor(model => model.DocResponsavel1, "", new { @class = "text-danger" })


                            </div>


                            <label for="telefone-1" class="col-md-1"><b>Telefone</b> </label>
                            <div class="col-md-2">
                            <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                            @Html.EditorFor(model => model.TelefoneResponsavel1, new { htmlAttributes = new { @class = "form-control", @id = "telefone-1", @data_mask = "(##) #####-####" ,placeholder = "(XX) XXXXX-XXXX" } })
                                    @Html.ValidationMessageFor(model => model.TelefoneResponsavel1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            

                            <label for="telefone-2" class="col-md-1"><b>Outro</b> </label>
                            <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                            @Html.EditorFor(model => model.TelefoneResponsavel1Outro, new { htmlAttributes = new { @class = "form-control", @id = "telefone-2", @data_mask = "(##) #####-####", placeholder = "(XX) XXXXX-XXXX" } })
                                    @Html.ValidationMessageFor(model => model.TelefoneResponsavel1Outro, "", new { @class = "text-danger" })

                                </div>
                            </div>


                        </div>
                    <div class="row mb-3">

                            <label for="Responsavel2" class="col-md-2"><b>Responsável 2:</b></label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.NomeResponsavel2, new { htmlAttributes = new { @class = "form-control", @id="Responsavel2" } })
                                @Html.ValidationMessageFor(model => model.NomeResponsavel2, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label for="RG-CPF-Responsavel-2" class="input-group-text">RG / CPF </label>

                                    @Html.EditorFor(model => model.DocResponsavel2, new { htmlAttributes = new { @class = "form-control", @id="RG-CPF-Responsavel-2" } })
                                    @Html.ValidationMessageFor(model => model.DocResponsavel2, "", new { @class = "text-danger" })

                                </div>
                            </div>


                            <label for="telefone-responsavel-2" class="col-md-1">Telefone</label>
                            <div class="col-md-2">
                                <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                            @Html.EditorFor(model => model.TelefoneResponsavel2, new { htmlAttributes = new { @class = "form-control", @id = "telefone-responsavel-2", @data_mask = "(##) #####-####", placeholder = "(XX) XXXXX-XXXX" } })
                                    @Html.ValidationMessageFor(model => model.TelefoneResponsavel2, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>

                    <div class="row mb-3">

                        <label for="Responsavel3" class="col-md-2"><b>Responsável 3:</b></label>
                        <div class="col-md-4">
                                    @Html.EditorFor(model => model.NomeResponsavel3, new { htmlAttributes = new { @class = "form-control", @id="Responsavel3" } })
                                    @Html.ValidationMessageFor(model => model.NomeResponsavel3, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label for="Responsavel-3-RG-CPF" class="input-group-text">RG / CPF </label>

                                        @Html.EditorFor(model => model.DocResponsavel3, new { htmlAttributes = new { @class = "form-control", @id="Responsavel-3-RG-CPF" } })
                                        @Html.ValidationMessageFor(model => model.DocResponsavel3, "", new { @class = "text-danger" })

                            </div>
                        </div>


                        <label for="telefone-responsavel-3" class="col-md-1">Telefone</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                            @Html.EditorFor(model => model.TelefoneResponsavel3, new { htmlAttributes = new { @class = "form-control", @id = "telefone-responsavel-3", @data_mask = "(##) #####-####", placeholder = "(XX) XXXXX-XXXX"} })
                                        @Html.ValidationMessageFor(model => model.TelefoneResponsavel3, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">

                        <label for="Responsavel-4" class="col-md-2"><b>Responsável 4:</b></label>
                        <div class="col-md-4">
                                    @Html.EditorFor(model => model.NomeResponsavel4, new { htmlAttributes = new { @class = "form-control", @id="Responsavel-4"} })
                                    @Html.ValidationMessageFor(model => model.NomeResponsavel4, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label for="RG-CPF-Responsavel-4" class="input-group-text">RG / CPF </label>

                                        @Html.EditorFor(model => model.DocResponsavel4, new { htmlAttributes = new { @class = "form-control", @id="RG-CPF-Responsavel-4" } })
                                        @Html.ValidationMessageFor(model => model.DocResponsavel4, "", new { @class = "text-danger" })

                            </div>
                        </div>


                        <label for="telefone-responsavel-4" class="col-md-1">Telefone</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                            @Html.EditorFor(model => model.TelefoneResponsavel4, new { htmlAttributes = new { @class = "form-control", @id = "telefone-responsavel-4", @data_mask = "(##) #####-####", placeholder = "(XX) XXXXX-XXXX" } })
                                        @Html.ValidationMessageFor(model => model.TelefoneResponsavel4, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    





                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <div class="col-md-4">
                            <button class="btn btn-primary fonte-login fs-personalizado" type="submit" value="Create"
                            aria-label="Botão Salvar"
                            >
                                <i class="bi bi-arrow-up-square"></i>&#32 Salvar
                             
                            </button>
                            &#32&#32&#32&#32
                            <a asp-action="Index" class="btn btn-outline-secondary small" style="color:darkgray"
                            aria-label="Botão Voltar"
                            >
                                <i class="bi bi-arrow-left-square"></i>&#32 <b class="fs-personalizado fonte-login ">Voltar</b>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
   
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

